<main class="main container">
  <div class="home-page text-center">
    <h1 class="my-4">Welcome to BeerApp</h1>
    <div class="top-bar d-flex justify-content-center mb-4 gap-2">
      <button class="btn btn-primary" (click)="toggleSortOrder()">Sort</button>
      <button class="btn btn-primary" (click)="toggleView()">View</button>
      <button class="btn btn-primary" (click)="toggleFilter()">Filter</button>
    </div>
    <div class="row g-3" *ngIf="isDetailView">
      <div class="col-12 col-md-6 col-lg-4" *ngFor="let product of articles">
        <div class="card h-100 d-flex flex-column bg-primary text-white">
          <div class="card-body">
            <div *ngFor="let article of product.articles" class="d-flex align-items-center mb-3">
              <div class="card-img-left p-3 col-4">
                <img [src]="article.image" class="img-fluid card-img-top" alt="{{ article.shortDescription }}">
              </div>
              <div class=" col-8">
                <p class="mb-2"><strong>{{ product.brandName }} - {{ product.name }}</strong></p> 
                <p class="mb-1"><strong>{{ article.price }} Euro</strong></p>
                <p class="mb-0">{{ article.shortDescription }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 
    <div class="row g-3 mt-4" *ngIf="isBottleView">
      <div class="col-12">
        <div class="card h-100 bg-primary p-3">
          <div class="d-flex flex-wrap justify-content-center gap-3">
            <ng-container *ngFor="let product of articles">
              <img *ngFor="let article of product.articles" 
                   [src]="article.image" 
                   class="img-fluid card-img-top col-12" 
                   alt="{{ article.shortDescription }}">
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<router-outlet />
